<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <table>
            <tr>
                <td>dni</td>
                <td>nombre</td>
                <td>apellido</td>
                <td>activo</td>
            </tr>
            <tr>
                <td><input type="text" id="dni"/> </td>
                <td><input type="text" id="firstName"/></td>
                <td><input type="text" id="lastName"/></td>
                <td>
                    <input type="checkbox" id="isActive">
                </td>
            </tr>
            <tr>
                <td>
                    <button id="send" onclick="send()">Enviar</button>
                </td>
                
            </tr>
        </table>

    <script>
       function send() {
        var person = {
            "firstName":        document.getElementById("firstName").value,

            "lastName" :        document.getElementById("lastName").value,

            "dni"      :        parseInt(document.getElementById("dni").value),

            "active"   :         document.getElementById("isActive").checked,

        }

        console.log(person)

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify(person);
            
        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };
        
        fetch("http://127.0.0.1:5000/persons", requestOptions)
          .then(response => response.text())
          .then(result => console.log(result))
          .catch(error => console.log('error', error));
               }
            
    </script>
</body>
</html>